@import "../../variables";

.navigation {
  background-color: $white;
  text-transform: uppercase;
  position: relative;
  box-shadow: 0 0 10px 1px rgba(black, 0.5);
  .navigation-content {
    max-width: 1440px;
    position: relative;
  }
  /* Logo Styles */
  .navbar-brand {
    position: absolute;
    left: 10%;
    @include responsive-mobile(top, 0);
  }
  /* Hamburger Icon Styles */
  .navbar-toggler {
    position: absolute;
    top: 0;
    right: 0;
  }
  /* Navigation List Styles */
  ul {
    gap: 2.5rem; //40px for root 16px
    :last-child {
      a {
        font-weight: 700;
      }
    }
    /* Individual List Item Styles */
    li {
      position: relative;
      transition: opacity 0.3s ease-in-out, scale 0.3s ease-in-out;
      &:hover {
        opacity: 0.7;
        scale: 1.01;
      }
      /* Active List Item Indicator Styles */
      &.active {
        ::after {
          content: "";
          position: absolute;
          bottom: -0.4375rem; //7px for root 16px
          left: 0;
          width: 100%;
          height: 1px;
          background: $main;
        }
      }
      a {
        color: $main;
      }
    }
  }
}
