@import "../../variables";

.text-logo {
  font-size: 1.8125rem; //29px for root 16px
  font-weight: 500;
  .red {
    color: $secondary;
  }
  /* bigger font for banner */
  &.big {
    font-size: 7.5rem; //70px for root 16px
    @media screen and (max-width: 1440px) {
      font-size: 4rem;
    }
    @include responsive-mobile(font-size, 3rem);
  }
}
